body {
  background-color: white;
}

.content-body {
  min-height: 500px;
  background-color: #f1f1f1;
}

.column-four-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column-main-new {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .column-main-new .main-card {
  box-sizing: border-box;

  width: none;
  height: none;
} */

/* @media (min-width <= 768) {
  .column-main-new .main-card {
    box-sizing: border-box;
  
    width: 100% !important;
    height: 100%;
  }
} */

.column-all-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
}

.economy-text {
  color: #3DBC9E !important;
}

.economy-bg {
  background-color: #3DBC9E !important;
  color: white;
}

.policy-text {
  color: #CC0000 !important;
}

.policy-bg {
  background-color: #CC0000 !important;
  color: white;
}

.sport-text {
  color: #FF5C00 !important;
}

.sport-bg {
  background-color: #FF5C00 !important;
  color: white;
}

.tecnology-text {
  color: #1770C6 !important;
}

.tecnology-bg {
  background-color: #1770C6 !important;
  color: white;
}


.health-text {
  color: #16C5D0 !important;
}

.health-bg {
  background-color: #16C5D0 !important;
  color: white;
}

.form-card {
  width: 100%;
}

@media (min-width <= 768) {
  .form-card {
    width: 60%;
  }
}